.block {
    width: 100%;
    height: 80vh;
}
.glass-black {
    background: rgba(0, 0, 0, 0.67);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
}
ul,
ul li,
p {
    color: aliceblue;
    font-size: 20px;
}
h3 {
    color: rgb(204, 255, 0);
    font-size: 26px;
}
.container {
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(53, 0, 0, 0.356);
    padding: 20px;
    margin: 20px;
}
.container img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.container-text {
    padding: 20px;
}
h2 {
    color: #351897;
    font-size: 42px;
    font-weight: 500;
    margin-top: 2rem;
}
